In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [4]:
test.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month'],
      dtype='object')

In [5]:
test['target']=0

In [6]:
test.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [7]:
dataset=pd.concat([train,test],axis=0,sort=False)

In [8]:
dataset.shape

(500000, 25)

In [9]:
dataset.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [10]:
dataset.drop('id',axis=1,inplace=True)
dataset.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [11]:
dummy=pd.get_dummies(dataset['bin_3'],drop_first=True)
dummy.head()

   T
0  1
1  1
2  0
3  0
4  0

In [12]:
dataset.bin_0.nunique()

2

In [13]:
dataset.shape[0]-dataset['bin_0'].astype(bool).sum(axis=0)

436334

In [14]:
dataset.shape[0]-dataset['bin_1'].astype(bool).sum(axis=0)

371845

In [15]:
dataset.shape[0]-dataset['bin_2'].astype(bool).sum(axis=0)

308177

In [16]:
dataset.shape[0]-dataset['bin_3'].astype(bool).sum(axis=0)

0

In [17]:
dummy=pd.get_dummies(dataset['bin_3'])
dummy.drop('F',axis=1,inplace=True)
dataset['bin_3']=dummy
dataset.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,1,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,1,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,0,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,0,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,0,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [18]:
dummy=pd.get_dummies(dataset['bin_4'])
dummy.drop('N',axis=1,inplace=True)
dataset['bin_4']=dummy
dataset.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [19]:
dataset.nom_0.nunique()

3

In [20]:
dataset.nom_1.nunique()

6

In [21]:
dataset.nom_9.nunique()

12068

In [22]:
dataset.nom_9.nunique()

12068

In [23]:
dataset.drop(['nom_5','nom_6','nom_7','nom_8','nom_9'],axis=1,inplace=True)
dataset.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [24]:
dataset.nom_1.nunique()

6

In [25]:
dataset.nom_1.nunique()

6

In [26]:
dummy1=pd.get_dummies(dataset['nom_0'])
dummy2=pd.get_dummies(dataset['nom_1'])
dummy3=pd.get_dummies(dataset['nom_2'])
dummy4=pd.get_dummies(dataset['nom_3'])
dummy5=pd.get_dummies(dataset['nom_4'])
dataset.drop(['nom_0','nom_1','nom_2','nom_3','nom_4'],axis=1,inplace=True)
dataset=pd.concat([dataset,dummy1,dummy2,dummy3,dummy4,dummy5],axis=1,sort=False)
dataset.columns

Index(['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'ord_0', 'ord_1', 'ord_2',
       'ord_3', 'ord_4', 'ord_5', 'day', 'month', 'target', 'Blue', 'Green',
       'Red', 'Circle', 'Polygon', 'Square', 'Star', 'Trapezoid', 'Triangle',
       'Axolotl', 'Cat', 'Dog', 'Hamster', 'Lion', 'Snake', 'Canada', 'China',
       'Costa Rica', 'Finland', 'India', 'Russia', 'Bassoon', 'Oboe', 'Piano',
       'Theremin'],
      dtype='object')

In [27]:
dataset.drop(['ord_5'],axis=1,inplace=True)

In [28]:
dummy1=pd.get_dummies(dataset['ord_0'])
dummy2=pd.get_dummies(dataset['ord_1'])
dummy3=pd.get_dummies(dataset['ord_2'])
dummy4=pd.get_dummies(dataset['ord_3'])
dummy5=pd.get_dummies(dataset['ord_4'])
dataset.drop(['ord_0', 'ord_1', 'ord_2','ord_3', 'ord_4'],axis=1,inplace=True)
dataset=pd.concat([dataset,dummy1,dummy2,dummy3,dummy4,dummy5],axis=1,sort=False)
dataset.columns

Index([      'bin_0',       'bin_1',       'bin_2',       'bin_3',
             'bin_4',         'day',       'month',      'target',
              'Blue',       'Green',         'Red',      'Circle',
           'Polygon',      'Square',        'Star',   'Trapezoid',
          'Triangle',     'Axolotl',         'Cat',         'Dog',
           'Hamster',        'Lion',       'Snake',      'Canada',
             'China',  'Costa Rica',     'Finland',       'India',
            'Russia',     'Bassoon',        'Oboe',       'Piano',
          'Theremin',             1,             2,             3,
       'Contributor',      'Expert', 'Grandmaster',      'Master',
            'Novice', 'Boiling Hot',        'Cold',    'Freezing',
               'Hot',    'Lava Hot',        'Warm',           'a',
                 'b',           'c',           'd',           'e',
                 'f',           'g',           'h',           'i',
                 'j',           'k',           'l',           'm',
                 'n',           'o',           'A',           'B',
                 'C',           'D',           'E',           'F',
                 'G',           'H',           'I',           'J',
                 'K',           'L',           'M',           'N',
                 'O',           'P',           'Q',           'R',
                 'S',           'T',           'U',           'V',
                 'W',           'X',           'Y',           'Z'],
      dtype='object')

In [29]:
dummy1=pd.get_dummies(dataset['day'])
dummy2=pd.get_dummies(dataset['month'])
dataset.drop(['day','month'],axis=1,inplace=True)
dataset=pd.concat([dataset,dummy1,dummy2],axis=1,sort=False)
dataset.columns

Index([ 'bin_0',  'bin_1',  'bin_2',  'bin_3',  'bin_4', 'target',   'Blue',
        'Green',    'Red', 'Circle',
       ...
              3,        4,        5,        6,        7,        8,        9,
             10,       11,       12],
      dtype='object', length=105)

In [30]:
dataset.columns.shape

(105,)

In [31]:
y=dataset['target']
dataset.drop('target',axis=1,inplace=True)
y_test=y[:train.shape[0]]
x_train=dataset[:train.shape[0]]
x_test=dataset[train.shape[0]:]

In [32]:
print(x_train.shape, x_test.shape)
print(train.shape, test.shape)

(300000, 104) (200000, 104)
(300000, 25) (200000, 25)

In [33]:
import keras
from keras.layers import Dense,Activation,GaussianNoise
from keras.models import Sequential

Using TensorFlow backend.

In [34]:
model=Sequential()
model.add(Dense(7, input_shape=(x_train.shape[1],)))
model.add(GaussianNoise(0.1))
model.add(Activation('linear'))

model.add(Dense(1))
model.add(Activation('sigmoid'))
model.summary()

WARNING: Logging before flag parsing goes to stderr.
W0824 14:17:56.103964 11508 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0824 14:17:56.498487 11508 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0824 14:17:56.595654 11508 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0824 14:17:56.695917 11508 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0824 14:17:56.728189 11508 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:4115: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 7)                 735
_________________________________________________________________
gaussian_noise_1 (GaussianNo (None, 7)                 0
_________________________________________________________________
activation_1 (Activation)    (None, 7)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 8
_________________________________________________________________
activation_2 (Activation)    (None, 1)                 0
=================================================================
Total params: 743
Trainable params: 743
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.compile(loss = 'binary_crossentropy',
             optimizer = 'adam',
             metrics = ['accuracy'])

W0824 14:17:56.844615 11508 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0824 14:17:56.966009 11508 deprecation.py:323] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [36]:
model.fit(x_train,y_test,batch_size= 64 ,epochs=8)

Epoch 1/8
300000/300000 [==============================] - 20s 67us/step - loss: 0.5409 - acc: 0.7272
Epoch 2/8
300000/300000 [==============================] - 16s 54us/step - loss: 0.5349 - acc: 0.7312
Epoch 3/8
300000/300000 [==============================] - 12s 40us/step - loss: 0.5345 - acc: 0.7319
Epoch 4/8
300000/300000 [==============================] - 13s 42us/step - loss: 0.5341 - acc: 0.7322
Epoch 5/8
300000/300000 [==============================] - 17s 56us/step - loss: 0.5339 - acc: 0.7323
Epoch 6/8
300000/300000 [==============================] - 18s 61us/step - loss: 0.5339 - acc: 0.7325
Epoch 7/8
300000/300000 [==============================] - 23s 75us/step - loss: 0.5338 - acc: 0.7322
Epoch 8/8
300000/300000 [==============================] - 14s 48us/step - loss: 0.5337 - acc: 0.7322

In [37]:
y_pred=model.predict_classes(x_test)
sample=pd.read_csv("sample_submission.csv")
sample['target']=y_pred
sample.to_csv('nn_sub.csv',index=False)

In [38]:
sample['target'].nunique()

2

In [39]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(x_train, y_test)
y_pred=clf.predict(x_test)

In [40]:
sample=pd.read_csv("sample_submission.csv")
sample['target']=y_pred
sample.to_csv('nn_sub.csv',index=False)