In [1]:
import pandas as pd
import numpy as np
train= pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [2]:
m13=np.zeros((test.shape[0],))
m13=pd.Series(m13)

In [3]:
train=pd.concat([train,test])

c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [4]:
train=train.drop([ 'origination_date' , 'first_payment_date' ,],axis=1)

In [5]:
unpaid=train['unpaid_principal_bal']

In [6]:
unpaid= unpaid.to_numpy()

In [7]:
import numpy as np

In [8]:
unp=unpaid/100000

In [9]:
u=pd.Series(unp)
u.head()

0    2.14
1    1.44
2    3.66
3    1.35
4    1.24
dtype: float64

In [10]:
train['unpaid_principal_bal']=u

In [11]:
source= pd.get_dummies(train['source'],dtype='int')

In [12]:
dataset= pd.concat([source,train],axis=1)

In [13]:
dataset.columns

Index(['X', 'Y', 'Z', 'borrower_credit_score', 'co-borrower_credit_score',
       'debt_to_income_ratio', 'financial_institution', 'insurance_percent',
       'insurance_type', 'interest_rate', 'loan_id', 'loan_purpose',
       'loan_term', 'loan_to_value', 'm1', 'm10', 'm11', 'm12', 'm13', 'm2',
       'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'number_of_borrowers',
       'source', 'unpaid_principal_bal'],
      dtype='object')

In [14]:
test.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12'],
      dtype='object')

In [15]:
dataset.shape[0]- dataset['debt_to_income_ratio'].astype(bool).sum(axis=0)

0

In [16]:
dataset['loan_to_value'].unique()

array([95, 72, 49, 46, 80, 62, 76, 90, 55, 70, 65, 56, 50, 44, 75, 85, 73,
       58, 77, 32, 74, 47, 79, 20, 33, 67, 30, 38, 40, 43, 35, 68, 52, 60,
       54, 53, 69, 57, 78, 88, 48, 39, 63, 92, 29, 94, 59, 89, 87, 61, 31,
       42, 84, 64, 97, 36, 66, 93, 82, 25, 86, 26, 27, 71, 23, 96, 28, 45,
       21, 24, 11, 51, 37, 41, 19, 91, 22, 34, 83, 18, 12, 16, 17, 15, 14,
       13, 81,  6,  7, 10,  8,  9,  5], dtype=int64)

In [17]:
dataset.drop('source', axis=1, inplace=True)

In [18]:
source= pd.get_dummies(train['financial_institution'],dtype='int')
dataset= pd.concat([source,train],axis=1)
dataset.drop('financial_institution', axis=1, inplace=True)
dataset.head()

,Anderson-Taylor,Browning-Hart,Chapman-Mcmahon,"Cole, Brooks and Vincent",Edwards-Hoffman,"Martinez, Duffy and Bird","Miller, Mcclure and Allen",Nicholson Group,OTHER,Richards-Walters,...,m3,m4,m5,m6,m7,m8,m9,number_of_borrowers,source,unpaid_principal_bal
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1.0,Z,2.14
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,Y,1.44
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,Z,3.66
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,2.0,X,1.35
4,0,0,0,0,0,0,0,0,1,0,...,2,3,4,5,6,7,8,1.0,X,1.24

In [19]:
dataset.columns

Index(['Anderson-Taylor', 'Browning-Hart', 'Chapman-Mcmahon',
       'Cole, Brooks and Vincent', 'Edwards-Hoffman',
       'Martinez, Duffy and Bird', 'Miller, Mcclure and Allen',
       'Nicholson Group', 'OTHER', 'Richards-Walters', 'Richardson Ltd',
       'Romero, Woods and Johnson', 'Sanchez, Hays and Wilkerson',
       'Sanchez-Robinson', 'Suarez Inc', 'Swanson, Newton and Miller',
       'Taylor, Hunt and Rodriguez', 'Thornton-Davis',
       'Turner, Baldwin and Rhodes', 'borrower_credit_score',
       'co-borrower_credit_score', 'debt_to_income_ratio', 'insurance_percent',
       'insurance_type', 'interest_rate', 'loan_id', 'loan_purpose',
       'loan_term', 'loan_to_value', 'm1', 'm10', 'm11', 'm12', 'm13', 'm2',
       'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'number_of_borrowers',
       'source', 'unpaid_principal_bal'],
      dtype='object')

In [20]:
b_mean= dataset['borrower_credit_score'].mode()
borrower_cr= dataset['borrower_credit_score']
borrower_cr=np.array(borrower_cr)
for i in range(borrower_cr.shape[0]):
    if borrower_cr[i]==0:
        borrower_cr[i]=b_mean
borrower_cr=pd.Series(borrower_cr)
dataset['borrower_credit_score']=borrower_cr
dataset['borrower_credit_score'].astype(bool).sum(axis=0)

151924

In [21]:
b_mean= dataset['co-borrower_credit_score'].mode()
borrower_cr= dataset['co-borrower_credit_score']
borrower_cr=np.array(borrower_cr)
for i in range(borrower_cr.shape[0]):
    if borrower_cr[i]==0:
        borrower_cr[i]=b_mean
borrower_cr=pd.Series(borrower_cr)
dataset['co-borrower_credit_score']=borrower_cr
dataset['co-borrower_credit_score'].astype(bool).sum(axis=0)

89853

In [22]:
dataset.columns=['Anderson', 'Browning', 'Chapman',
       'Cole, Brooks', 'Edwards',
       'Martinez', 'Miller',
       'Nicholson', 'OTHER', 'Richards', 'Richardson',
       'Romero', 'Sanchez',
       'Robinson', 'Suarez', 'Swanson',
       'Taylor, Hunt', 'Thornton',
       'Turner, Baldwin', 'borrower_credit_score',
       'co-borrower_credit_score', 'debt_to_income_ratio', 'insurance_percent',
       'insurance_type', 'interest_rate', 'loan_id', 'loan_purpose',
       'loan_term', 'loan_to_value', 'm1', 'm10', 'm11', 'm12', 'm13', 'm2',
       'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'number_of_borrowers',
       'source', 'unpaid_principal_bal']

In [23]:
source= pd.get_dummies(dataset['source'],dtype='int')
dataset= pd.concat([source,dataset],axis=1)
dataset.drop('source', axis=1, inplace=True)
dataset.head()

,X,Y,Z,Anderson,Browning,Chapman,"Cole, Brooks",Edwards,Martinez,Miller,...,m2,m3,m4,m5,m6,m7,m8,m9,number_of_borrowers,unpaid_principal_bal
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1.0,2.14
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,1.44
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,3.66
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2.0,1.35
4,1,0,0,0,0,0,0,0,0,0,...,1,2,3,4,5,6,7,8,1.0,1.24

In [24]:
interest_rate=dataset['interest_rate']
interest=interest_rate.to_numpy()
type(interest)

numpy.ndarray

In [25]:
interest=interest/10
interest[:5]

array([0.425 , 0.4875, 0.325 , 0.475 , 0.475 ])

In [26]:
interest_rate=pd.Series(interest)
dataset['interest_rate']=interest_rate
dataset.head()

,X,Y,Z,Anderson,Browning,Chapman,"Cole, Brooks",Edwards,Martinez,Miller,...,m2,m3,m4,m5,m6,m7,m8,m9,number_of_borrowers,unpaid_principal_bal
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1.0,2.14
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,1.44
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,3.66
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2.0,1.35
4,1,0,0,0,0,0,0,0,0,0,...,1,2,3,4,5,6,7,8,1.0,1.24

In [27]:
dataset.interest_rate.head()

0    0.4250
1    0.4875
2    0.3250
3    0.4750
4    0.4750
Name: interest_rate, dtype: float64

In [28]:
interest_rate=dataset['loan_term']
interest=interest_rate.to_numpy()
interest=interest/360
interest_rate=pd.Series(interest)
dataset['loan_term']=interest_rate
dataset.loan_term.head()

0    1.0
1    1.0
2    0.5
3    1.0
4    1.0
Name: loan_term, dtype: float64

In [29]:
interest_rate=dataset['loan_to_value']
interest=interest_rate.to_numpy()
interest=interest/100
interest_rate=pd.Series(interest)
dataset['loan_to_value']=interest_rate
dataset.loan_to_value.head()

0    0.95
1    0.72
2    0.49
3    0.46
4    0.80
Name: loan_to_value, dtype: float64

In [30]:
interest_rate=dataset['borrower_credit_score']
interest=interest_rate.to_numpy()
interest=interest/1000
interest_rate=pd.Series(interest)
dataset['borrower_credit_score']=interest_rate
dataset.borrower_credit_score.head()

0    0.694
1    0.697
2    0.780
3    0.633
4    0.681
Name: borrower_credit_score, dtype: float64

In [31]:
source= pd.get_dummies(dataset['loan_purpose'],dtype='int')
dataset= pd.concat([source,dataset],axis=1)
dataset.drop('loan_purpose', axis=1, inplace=True)

In [32]:
interest_rate=dataset['co-borrower_credit_score']
interest=interest_rate.to_numpy()
interest=interest/1000
interest_rate=pd.Series(interest)
dataset['co-borrower_credit_score']=interest_rate
dataset['co-borrower_credit_score'].head()

0    0.000
1    0.000
2    0.000
3    0.638
4    0.000
Name: co-borrower_credit_score, dtype: float64

In [33]:
dataset.shape

(151924, 49)

In [34]:
dataset.head()

,A23,B12,C86,X,Y,Z,Anderson,Browning,Chapman,"Cole, Brooks",...,m2,m3,m4,m5,m6,m7,m8,m9,number_of_borrowers,unpaid_principal_bal
0,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1.0,2.14
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,1.44
2,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,3.66
3,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2.0,1.35
4,0,0,1,1,0,0,0,0,0,0,...,1,2,3,4,5,6,7,8,1.0,1.24

In [35]:
x_train=dataset.head(116058)

In [36]:
x_test=dataset[116058:]

In [37]:
y_train=x_train['m13']
x_train.drop('m13',axis=1,inplace=True)
y_train.head()

c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: m13, dtype: float64

In [38]:
x_train.shape

(116058, 48)

In [39]:
dataset.shape

(151924, 49)

In [40]:
x_train.drop('loan_id',axis=1,inplace=True)

In [41]:
x_train.shape

(116058, 47)

In [42]:
x_test.shape

(35866, 49)

In [43]:
x_test.drop('m13',axis=1,inplace=True)

In [44]:
x_test.shape

(35866, 48)

In [45]:
import keras
from keras.layers import Dense,Activation,GaussianNoise
from keras.models import Sequential

Using TensorFlow backend.

In [46]:
model=Sequential()
model.add(Dense(7, input_shape=(x_train.shape[1],)))
model.add(GaussianNoise(0.1))
model.add(Activation('linear'))

model.add(Dense(7))
model.add(GaussianNoise(0.1))
model.add(Activation('softmax'))

model.add(Dense(1))
model.add(Activation('sigmoid'))
model.summary()

WARNING: Logging before flag parsing goes to stderr.
W0820 02:07:42.944186 17944 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0820 02:07:42.978299 17944 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0820 02:07:42.986807 17944 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0820 02:07:43.017758 17944 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0820 02:07:43.032857 17944 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:4115: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 7)                 336
_________________________________________________________________
gaussian_noise_1 (GaussianNo (None, 7)                 0
_________________________________________________________________
activation_1 (Activation)    (None, 7)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 7)                 56
_________________________________________________________________
gaussian_noise_2 (GaussianNo (None, 7)                 0
_________________________________________________________________
activation_2 (Activation)    (None, 7)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 8
_________________________________________________________________
activation_3 (Activation)    (None, 1)                 0
=================================================================
Total params: 400
Trainable params: 400
Non-trainable params: 0
_________________________________________________________________

In [47]:
model.compile(loss = 'binary_crossentropy',
             optimizer = 'adam',
             metrics = ['accuracy'])

W0820 02:07:43.145978 17944 deprecation_wrapper.py:119] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0820 02:07:43.211266 17944 deprecation.py:323] From c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [48]:
model.fit(x_train,y_train,batch_size= 64 ,epochs=8)

Epoch 1/8
116058/116058 [==============================] - 9s 77us/step - loss: 0.1461 - acc: 0.9945
Epoch 2/8
116058/116058 [==============================] - 9s 79us/step - loss: 0.0471 - acc: 0.9945
Epoch 3/8
116058/116058 [==============================] - 8s 70us/step - loss: 0.0359 - acc: 0.9945
Epoch 4/8
116058/116058 [==============================] - 9s 80us/step - loss: 0.0342 - acc: 0.9945
Epoch 5/8
116058/116058 [==============================] - 9s 81us/step - loss: 0.0340 - acc: 0.9945
Epoch 6/8
116058/116058 [==============================] - 9s 80us/step - loss: 0.0340 - acc: 0.9945
Epoch 7/8
116058/116058 [==============================] - 9s 78us/step - loss: 0.0340 - acc: 0.9945
Epoch 8/8
116058/116058 [==============================] - 7s 56us/step - loss: 0.0340 - acc: 0.9945

In [49]:
sub= pd.read_csv("sample.csv")

In [50]:
sub.shape

(35866, 2)

In [51]:
x_test.drop('loan_id',axis=1,inplace=True)

c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [52]:
y_test=model.predict_classes(x_test)

In [53]:
np.unique(y_test)

array([0])

In [54]:
sub['m13']=y_test

In [55]:
sub['m13'].nunique()

1

In [56]:
sub.to_csv('renew.csv',index=False)