In [192]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [193]:
train=pd.read_csv("train.csv")
train.head(5)

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [194]:
import tensorflow as tf

In [195]:
from keras.models import Sequential
from keras.layers import Dense, LSTM 
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence

In [196]:
train.shape[0]

7920

In [197]:
test= pd.read_csv("test.csv")
test.head()

     id                                              tweet
0  7921  I hate the new #iphone upgrade. Won't let me d...
1  7922  currently shitting my fucking pants. #apple #i...
2  7923  I'd like to puts some CD-ROMS on my iPad, is t...
3  7924  My ipod is officially dead. I lost all my pict...
4  7925  Been fighting iTunes all night! I only want th...

In [198]:
total_words= np.array([ train.tweet[i].split() for i in range(train.shape[0]) ])

In [199]:
total_words[0]

['#fingerprint',
 '#Pregnancy',
 'Test',
 'https://goo.gl/h1MfQV',
 '#android',
 '#apps',
 '#beautiful',
 '#cute',
 '#health',
 '#igers',
 '#iphoneonly',
 '#iphonesia',
 '#iphone']

In [200]:
total_word= []

for i in range (total_words.shape[0]):
    for j in total_words[i]:
        total_word.append(j)
        
total_word=np.array(total_word)

In [201]:
total_word[0][1:]

'fingerprint'

In [202]:
for i in range(total_word.shape[0]):
    if total_word[i][0]=='#':
        temp=total_word[i][1:]
        total_word[i]=temp

In [203]:
for i in range(total_word.shape[0]):
    if total_word[i].isalpha()==False:
        total_word[i]=""

In [204]:
total_words=[]
for i in total_word:
    if i!="":
        total_words.append(i)

In [205]:
total_words=np.array(total_words)
total_words[:50]

array(['fingerprint', 'Pregnancy', 'Test', 'android', 'apps', 'beautiful',
       'cute', 'health', 'igers', 'iphoneonly', 'iphonesia', 'iphone',
       'Finally', 'a', 'transparant', 'silicon', 'case', 'Thanks', 'to',
       'my', 'uncle', 'yay', 'Sony', 'Xperia', 'S', 'We', 'love', 'Would',
       'you', 'talk', 'makememories', 'unplug', 'relax', 'iphone',
       'smartphone', 'wifi', 'wired', 'I', 'know', 'George', 'I', 'was',
       'made', 'that', 'way', 'iphone', 'cute', 'daventry', 'home',
       'What'], dtype='<U41')

In [206]:
for i in range(total_words.shape[0]):
    temp=total_words[i].lower()
    total_words[i]=temp

In [207]:
total_words[:50]

array(['fingerprint', 'pregnancy', 'test', 'android', 'apps', 'beautiful',
       'cute', 'health', 'igers', 'iphoneonly', 'iphonesia', 'iphone',
       'finally', 'a', 'transparant', 'silicon', 'case', 'thanks', 'to',
       'my', 'uncle', 'yay', 'sony', 'xperia', 's', 'we', 'love', 'would',
       'you', 'talk', 'makememories', 'unplug', 'relax', 'iphone',
       'smartphone', 'wifi', 'wired', 'i', 'know', 'george', 'i', 'was',
       'made', 'that', 'way', 'iphone', 'cute', 'daventry', 'home',
       'what'], dtype='<U41')

In [208]:
total_words.shape

(105652,)

In [209]:
l=[ i for i in total_words ]
len(l)

105652

In [210]:
l=set(l)
len(l)

13412

In [211]:
l=list(l)

In [212]:
dictionary={}
for i in range(len(l)):
    dictionary[l[i]]=i

In [213]:
def clean(string):
    
    total_words= np.array([ string.split() ])
    total_word= []

    for i in range (total_words.shape[0]):
        for j in total_words[i]:
            total_word.append(j)

    total_word=np.array(total_word)
    
    for i in range(total_word.shape[0]):
        if total_word[i][0]=='#':
            temp=total_word[i][1:]
            total_word[i]=temp
    
    
    for i in range(total_word.shape[0]):
        if total_word[i].isalpha()==False:
            total_word[i]=""
    
    total_words=[]
    for i in total_word:
        if i!="":
            total_words.append(i)
    
    total_words=np.array(total_words)
    
    for i in range(total_words.shape[0]):
        temp=total_words[i].lower()
        total_words[i]=temp
    
    l=[]
    
    for i in range(total_words.shape[0]):
        l.append(dictionary[total_words[i]])
    
    l1=np.array(l)
    
    return l1

In [214]:
temp=clean(train.tweet[0])

In [215]:
for i in range(train.shape[0]):
    train.tweet[i]=clean(train.tweet[i])

c:\users\professionally_saket\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [217]:
max_len= 25
X_train = sequence.pad_sequences(train.tweet,maxlen=max_len)

In [220]:
X_train.shape

(7920, 25)

In [221]:
y_train= train.label

In [222]:
y_train.shape

(7920,)

In [241]:
docs=np.array(l)

array(['mchg', 'omigosh', 'personally', 'pretending', 'singersongwriter',
       'instaporn', 'dish', 'lightskin', 'hide'], dtype='<U41')