<h1>Titanic using Neural Network</h1>
<h6>Saket Tiwari</h6>
Date: 29 June 2019

In [0]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
from google.colab import files
from IPython.display import Image

In [3]:
uploaded=files.upload()

Saving titanic.csv to titanic.csv

In [0]:
import pandas as pd

In [14]:
dataset=pd.read_csv('titanic.csv')
dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [15]:
dataset.drop('Name', axis=1, inplace=True)
dataset.drop('Ticket', axis=1, inplace=True)
dataset.drop('Cabin', axis=1, inplace=True)
dataset.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [17]:
dummy=pd.get_dummies(dataset['Embarked'])
dataset.drop('Embarked', axis=1, inplace=True)
dataset=pd.concat([dataset,dummy],axis=1)
dataset.head(2)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  C  Q  S
0            1         0       3    male  22.0      1      0   7.2500  0  0  1
1            2         1       1  female  38.0      1      0  71.2833  1  0  0

In [19]:
dummy=pd.get_dummies(dataset['Sex'])
dataset.drop('Sex', axis=1, inplace=True)
dataset=pd.concat([dataset,dummy],axis=1)
dataset.head(2)

   PassengerId  Survived  Pclass   Age  SibSp  ...  C  Q  S  female  male
0            1         0       3  22.0      1  ...  0  0  1       0     1
1            2         1       1  38.0      1  ...  1  0  0       1     0

[2 rows x 12 columns]

In [20]:
y=dataset['Survived']
dataset.drop('Survived', axis=1, inplace=True)
dataset.head(1)

   PassengerId  Pclass   Age  SibSp  Parch  Fare  C  Q  S  female  male
0            1       3  22.0      1      0  7.25  0  0  1       0     1

In [0]:
import keras
from keras.layers import Dense,Activation
from keras.models import Sequential
from keras.utils import np_utils

In [27]:
Y=np_utils.to_categorical(y)
print(Y.shape)

(891, 2)

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(dataset,Y)

In [30]:
print(X_train.shape,y_train.shape)

(668, 11) (668, 2)

In [38]:
model= Sequential()
model.add(Dense(100, input_shape=(11,)))
model.add(Activation('relu'))

model.add(Dense(2))
model.add(Activation('softmax'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 100)               1200
_________________________________________________________________
activation_5 (Activation)    (None, 100)               0
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 202
_________________________________________________________________
activation_6 (Activation)    (None, 2)                 0
=================================================================
Total params: 1,402
Trainable params: 1,402
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [41]:
model.fit(X_train,
         y_train,
         batch_size=1,
         epochs=20,
         verbose=2,
         validation_data=(X_test,y_test))

Train on 668 samples, validate on 223 samples
Epoch 1/20
 - 2s - loss: 0.6589 - acc: 0.6317 - val_loss: 0.6912 - val_acc: 0.5695
Epoch 2/20
 - 2s - loss: 0.6585 - acc: 0.6317 - val_loss: 0.6914 - val_acc: 0.5695
Epoch 3/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6915 - val_acc: 0.5695
Epoch 4/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6909 - val_acc: 0.5695
Epoch 5/20
 - 2s - loss: 0.6585 - acc: 0.6317 - val_loss: 0.6914 - val_acc: 0.5695
Epoch 6/20
 - 2s - loss: 0.6585 - acc: 0.6317 - val_loss: 0.6913 - val_acc: 0.5695
Epoch 7/20
 - 2s - loss: 0.6585 - acc: 0.6317 - val_loss: 0.6913 - val_acc: 0.5695
Epoch 8/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6911 - val_acc: 0.5695
Epoch 9/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6911 - val_acc: 0.5695
Epoch 10/20
 - 2s - loss: 0.6585 - acc: 0.6317 - val_loss: 0.6921 - val_acc: 0.5695
Epoch 11/20
 - 2s - loss: 0.6585 - acc: 0.6317 - val_loss: 0.6916 - val_acc: 0.5695
Epoch 12/20
 - 2s - loss: 0.6585 - acc: 0.6317 - val_loss: 0.6921 - val_acc: 0.5695
Epoch 13/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6917 - val_acc: 0.5695
Epoch 14/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6913 - val_acc: 0.5695
Epoch 15/20
 - 2s - loss: 0.6583 - acc: 0.6317 - val_loss: 0.6918 - val_acc: 0.5695
Epoch 16/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6917 - val_acc: 0.5695
Epoch 17/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6925 - val_acc: 0.5695
Epoch 18/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6920 - val_acc: 0.5695
Epoch 19/20
 - 2s - loss: 0.6583 - acc: 0.6317 - val_loss: 0.6921 - val_acc: 0.5695
Epoch 20/20
 - 2s - loss: 0.6584 - acc: 0.6317 - val_loss: 0.6926 - val_acc: 0.5695